.form {
    padding-left: 10px;

    h3 {
        font-size: 1.8rem;
        color: #343A40;
        padding: 20px 0px 10px 0;
    }

    .container__form {
        display: flex;
        background-color: #fff;
        padding: 10px 10px 20px ;
        gap: 40px;

        .feild__col-1 {

        }
    }
}
    
