<div class="container__profile">
    <div class="container__profile-nav-title">
        <span>HỒ SƠ NHÂN SỰ</span>
    </div>

    <div class="container__profile-content">
        <div class="container__profile-sidebar">
            <app-avatar-info />
            <app-avatar-nav />
        </div>

        <div class="container__profile-info">
            <div *ngIf="nhanVien" >
                <h2>1. Thông tin nhân viên</h2>
                <div class="container__profile-col">
                    
                    <div class="container__profile-col-1">
                        <app-input label="Họ" [model]="nhanVien" property="ho"></app-input>
                        <app-input label="Tên đệm" [model]="nhanVien" property="tenDem"></app-input>
                        <app-input label="Tên" [model]="nhanVien" property="ten"></app-input>
                        <app-input label="Tên viết tắt" [model]="nhanVien" property="tenVietTat"></app-input>
                    </div>

                    <div class="container__profile-col-2">
                        <app-kendo-dropdown
                            label="Giới tính"
                            [model]="nhanVien"
                            property="gioiTinh"
                            [data]="ds_gioiTinh"
                            textField="tenGT"
                            valueField="maGT"
                            [defaultItem]="{tenGT: '-- Chọn giới tính --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeGioiTinh($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Quốc tịch"
                            [model]="nhanVien"
                            property="quocTich"
                            textField="tenQG"
                            valueField="maQG"
                            [data]="cuTru_QuocGias"
                            [defaultItem]="{ tenQG: '-- Chọn quốc tịch --' }"
                            [filterable]="true"
                            (valueChange)="onChangeQuocTich($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Dân tộc"
                            [model]="nhanVien"
                            property="danToc"
                            textField="tenDanToc"
                            valueField="maDanToc"
                            [data]="ds_danTocs"
                            [defaultItem]="{ tenDanToc: '-- Chọn dân tộc --' }"
                            [filterable]="true"
                            (valueChange)="onChangeDanToc($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Tôn giáo"
                            [model]="nhanVien"
                            property="tonGiao"
                            textField="tenTonGiao"
                            valueField="maTonGiao"
                            [data]="ds_tonGiaos"
                            [defaultItem]="{ tenTonGiao: '-- Chọn dân tộc --' }"
                            [filterable]="true"
                            (valueChange)="onChangeTonGiao($event)">
                        </app-kendo-dropdown>
                    </div>

                    <div class="container__profile-col-3">
                        <app-kendo-dropdown
                            label="Tình trạng hôn nhân"
                            [model]="nhanVien"
                            property="tinhTrangHonNhan"
                            textField="tenTTHN"
                            valueField="maTTHN"
                            [data]="ds_tinhTrangHonNhan"
                            [defaultItem]="{ tenTTHN: '-- Chọn tình trạng hôn nhân --' }"
                            [filterable]="true"
                            (valueChange)="onChangeTTHN($event)">
                        </app-kendo-dropdown>
                        <app-input label="Nguyên quán" [model]="nhanVien" property="nguyenQuan"></app-input>
                        <app-birth-date
                            label="Ngày sinh"
                            [model]="nhanVien"
                            property="ngaySinh">
                        </app-birth-date>
                        <app-input label="Nơi sinh" [model]="nhanVien" property="noiSinh"></app-input>
                        
                    </div>
               </div>

                <h2>2. THÔNG TIN CHỨNG THỰC VÀ THẾU TNCN</h2>
                <div class="container__profile-col">
                    
                    <div class="container__profile-col-1">
                        <app-input label="Số CMND/CCCD" [model]="nhanVien.thongTinChungThuc_CCCD" property="cccd"></app-input>
                        <app-date label="Ngày cấp" [model]="nhanVien.thongTinChungThuc_CCCD" property="ngayCap"></app-date>
                        <app-date label="Ngày hết hạn" [model]="nhanVien.thongTinChungThuc_CCCD" property="ngayHetHan"></app-date>
                        <app-input label="Nơi cấp" [model]="nhanVien.thongTinChungThuc_CCCD" property="noiCap"></app-input>
                    </div>

                    <div class="container__profile-col-2">
                        <app-input label="Số hộ chiếu" [model]="nhanVien.thongTinChungThuc_SoHC" property="soHoChieu"></app-input>
                        <app-date label="Ngày cấp" [model]="nhanVien.thongTinChungThuc_SoHC" property="ngayCap"></app-date>
                        <app-date label="Ngày hết hạn" [model]="nhanVien.thongTinChungThuc_SoHC" property="ngayHetHan"></app-date>
                        <app-input label="Nơi cấp" [model]="nhanVien.thongTinChungThuc_SoHC" property="noiCap"></app-input>
                        
                    </div>

                    <div class="container__profile-col-3">
                        <app-input label="Mã số thuế TNCN" [model]="nhanVien.theuTNCN" property="maSoTheuTNCN"></app-input>
                        <app-date label="Ngày dăng ký" [model]="nhanVien.theuTNCN" property="ngayDangKy"></app-date>
                        <app-input label="Nơi đăng ký" [model]="nhanVien.theuTNCN" property="noiDangKy"></app-input>
                        
                    </div>
               </div>

                <h2>3. VĂN HÓA, CHUYÊN MÔN - NGHỀ NGHIỆP</h2>
                <div class="container__profile-col">
                    
                    <div class="container__profile-col-1">
                        <app-kendo-dropdown
                            label="Trình độ học vấn"
                            [model]="nhanVien.ngheNghiep"
                            property="trinhDoHocVan"
                            [data]="ds_trinhDoHocVan"
                            textField="tenHocVan"
                            valueField="maHocVan"
                            [defaultItem]="{tenHocVan: '-- Chọn trình độ học vấn --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeTrinhDoHocVan($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Học hàm"
                            [model]="nhanVien.ngheNghiep"
                            property="hocHam"
                            [data]="ds_hocham"
                            textField="tenHocHam"
                            valueField="maHocHam"
                            [defaultItem]="{tenHocHam: '-- Chọn học hàm --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeHocHam($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Học Vị"
                            [model]="nhanVien.ngheNghiep"
                            property="hocVi"
                            [data]="ds_hocVi"
                            textField="tenHocVi"
                            valueField="maHocVi"
                            [defaultItem]="{tenHocVi: '-- Chọn học vị --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeHocVi($event)">
                        </app-kendo-dropdown>
                    </div>

                    <div class="container__profile-col-2">
                        <app-input label="Lĩnh vực chuyên gia" [model]="nhanVien.ngheNghiep" property="linhVucChuyenGia"></app-input>
                        <app-input label="Nghề nghiệp" [model]="nhanVien.ngheNghiep" property="ngheNghiep"></app-input>
                        
                    </div>
               </div>

                <h2>4. THÔNG TIN LIÊN HỆ</h2>
                <div class="container__profile-col">

                    <div class="container__profile-col-1" *ngIf="nhanVien?.thongTinLienHe">
                        <app-input label="Điện thoại di động 1" [model]="nhanVien.thongTinLienHe" property="dTDD1"></app-input>
                        <app-input label="Điện thoại di động 2" [model]="nhanVien.thongTinLienHe" property="dTDD2"></app-input>
                        <app-input label="Email" [model]="nhanVien.thongTinLienHe" property="email"></app-input>
                    </div>

                    <div class="container__profile-col-2">
                        <app-input label="Người liên hệ khẩn cấp" [model]="nhanVien.thongTinLienHe" property="nguoiLienHeKhanCap"></app-input>
                        <app-input label="Số điện thoại liên hệ khẩn cấp" [model]="nhanVien.thongTinLienHe" property="soDTLienHeKhanCap"></app-input>
                        <app-input label="Mối quan hệ" [model]="nhanVien.thongTinLienHe" property="moiQuanHe"></app-input>
                    </div>

                    <div class="container__profile-col-3">
                            <app-input label="Mạng xã hội 1" [model]="nhanVien.thongTinLienHe" property="mangXH1"></app-input>
                            <app-input label="Mạng xã hội 2" [model]="nhanVien.thongTinLienHe" property ="mangXH2"></app-input>
                            <app-input label="Tài khoản chat/VoiP" [model]="nhanVien.thongTinLienHe" property="taiKhoanChat"></app-input>
                    </div>
               </div>

                <h2>5. ĐỊA CHỈ CƯ TRÚ</h2>
                <div class="container__profile-col">
                    
                    <div class="container__profile-col-1">
                        <app-input 
                            label="Địa chỉ thường trú" 
                            [model]="nhanVien.diaChiCuTru" 
                            property="diaChi">
                        </app-input>
                        <app-kendo-dropdown
                            label="Quốc gia"
                            [model]="nhanVien.diaChiCuTru"
                            property="quocGia"
                            [data]="cuTru_QuocGias"
                            textField="tenQG"
                            valueField="maQG"
                            [defaultItem]="{tenQG: '-- Chọn quốc gia --' }"
                            [disabled]="false"
                            [filterable]="false"
                            (valueChange)="onChangeQuocGia_CT($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Tỉnh thành"
                            [model]="nhanVien.diaChiCuTru"
                            property="tinhThanh"
                            [data]="cuTru_TinhThanhs"
                            textField="tenTinh"
                            valueField="maTinh"
                            [defaultItem]="{tenTinh: '-- Chọn Tỉnh --' }"
                            [filterable]="true"
                            [disabled]="false"
                            (valueChange)="onChangeTinhThanh_CT($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Quận/Huyện"
                            [model]="nhanVien.diaChiCuTru"
                            property="quanHuyen"
                            [data]="cuTru_QuanHuyens"
                            textField="tenQuanHuyen"
                            valueField="maQuanHuyen"
                            [defaultItem]="{tenQuanHuyen: '-- Chọn quận huyện --' }"
                            [disabled]="false"
                            [filterable]="false"
                            (valueChange)="onChangeQuanHuyen_CT($event)">
                        </app-kendo-dropdown>
                    </div>

                    <div class="container__profile-col-2">
                        <app-input 
                            label="Địa chỉ tạm trú" 
                            [model]="nhanVien.diaChiTamTru" 
                            property="diaChi">
                        </app-input>
                        <app-kendo-dropdown
                            label="Quốc gia"
                            [model]="nhanVien.diaChiTamTru"
                            property="quocGia"
                            [data]="tamTru_QuocGias"
                            textField="tenQG"
                            valueField="maQG"
                            [defaultItem]="{tenQG: '-- Chọn quốc gia --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeQuocGia_TT($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Tỉnh thành"
                            [model]="nhanVien.diaChiTamTru"
                            property="tinhThanh"
                            [data]="tamTru_TinhThanhs"
                            textField="tenTinh"
                            valueField="maTinh"
                            [defaultItem]="{tenTinh: '-- Chọn Tỉnh --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeTinhThanh_TT($event)">
                        </app-kendo-dropdown>
                        <app-kendo-dropdown
                            label="Quận/Huyện"
                            [model]="nhanVien.diaChiTamTru"
                            property="quanHuyen"
                            [data]="tamTru_QuanHuyens"
                            textField="tenQuanHuyen"
                            valueField="maQuanHuyen"
                            [defaultItem]="{tenQuanHuyen: '-- Chọn quận huyện --' }"
                            [disabled]="false"
                            [filterable]="true"
                            (valueChange)="onChangeQuanHuyen_TT($event)">
                        </app-kendo-dropdown>
                    </div>
               </div>
            </div> 
        </div>
    </div>
</div>