<div class="selectBox">
  <label>{{ label }}</label>

  <!-- Ô tìm kiếm -->
  <input 
    type="text" 
    [(ngModel)]="searchKeyWord" 
    (input)="onSearchChange()" 
    placeholder="Tìm kiếm {{ label }}" 
    [disabled]="disabled"
  />

  <select 
    [ngModel]="model[property]" 
    (ngModelChange)="onSelect($event)" 
    [disabled]="disabled"
  >
    <option [ngValue]="null">-- Chọn {{ label }} --</option>
    <option *ngFor="let option of filteredOptions" [ngValue]="option">
      {{ getLabel(option) }}
    </option>
  </select>
</div>
