.container {
    display: flex;
    background-color: #EDEFF3;
    height: 500px;

    .container__sidebar {
        flex: 1;
    }
    
    .container__header-component {
        flex: 5;
        
        .container__header {

        }

        .container__router {
            
        }
    }


}
