<div class="header">
    <div class="header__nav">
        <ul class="header__nav-list">
            <li *ngFor="let item of items" class="header__nav-item">
                <a [routerLink]="item.link">{{item.title | uppercase}}</a>
                <div class="header__nav-straight">
                    {{ item.straight }}
                </div>
            </li>
        </ul>
    </div>

    <div class="header__icon">
        <ul class="header__icon-list" *ngFor="let icon of icons">
            <li class="header__icon-item">
                <i class="fa-solid {{icon.nameIcon}}"></i>
            </li>
        </ul>
    </div>
</div>