<div class="header">
    <div class="header__logo">
        <!-- Ảnh -->
        <!-- Select down -->
    </div>
    <div class="header__nav">
        <ul>
            <li>
                <p>Header</p>
            </li>
        </ul>
    </div>

    <div class="header__icon">
        <div class="header__icon-search">
            <!-- Search -->
        </div>
        <div class="header__icon-notify">
            <!-- Notify -->
        </div>
        <div class="header__icon-account">
            <!-- Acount -->
        </div>
    </div>
</div>